/* CSS Document */
@import url("https://fonts.googleapis.com/css?family=Raleway:400,600,900");
/* line 15, ../scss/main.scss */
* {
  font-family: 'Raleway', sans-serif; }

/* line 19, ../scss/main.scss */
h2 {
  font-size: 26px;
  font-weight: 600;
  margin-bottom: 8px;
  color: #2E2E2E;
  margin: 10px 0; }

/* line 27, ../scss/main.scss */
h4 {
  font-size: 18px;
  text-align: center;

  margin: 0 auto;
  font-weight: 400;
  color: #555555; }
  
  

/* line 36, ../scss/main.scss */
h5 {
  color: #0074AF; }

/* line 39, ../scss/main.scss */
a {
  color: #0074AF; }

/* line 42, ../scss/main.scss */
.hr-tick-center {
  width: 50px;
  border: 2px solid #0074AF; }

/* line 47, ../scss/main.scss */
.btn {
  font-size: 16px;
  padding: 0.5em 1.5em; }

/* line 51, ../scss/main.scss */
.btn {
  background-color: #0074AF;
  color: #fff;
  border: none;
  transition: .3s; }
  /* line 56, ../scss/main.scss */
  .btn svg {
    margin-left: 5px; }
  /* line 59, ../scss/main.scss */
  .btn:hover {
    background-color: #0074AF;
    opacity: 0.8;
    transform: scale(1.01); }

/* line 66, ../scss/main.scss */
h3 {
  color: #2E2E2E;
  font-size: 26px;
  text-align: center;
  font-weight: 600; }

/* line 74, ../scss/main.scss */
.boldText {
  font-weight: 900; }

/* line 79, ../scss/main.scss */
nav {
  background-color:  #df6420;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  font-weight: 600; }
  /* line 83, ../scss/main.scss */
  nav .navbar-brand {
    font-size: 22px;
    padding-top: 5px; }
  /* line 90, ../scss/main.scss */
  nav .nav-link {
    font-size: 16px;
    margin-right: 10PX; }
  /* line 97, ../scss/main.scss */
  nav .dropdown-menu .dropdown-item svg {
    color: #2E2E2E;
    margin-right: 10px; }
  /* line 103, ../scss/main.scss */
  nav #right-drop-fix {
    right: 0;
    left: auto; }
	
	.navbar.navbar-ie11 {
   margin: 0 auto;
  width: 100%;
}

.navimgwidth {
	max-width:20%;
}

/* line 109, ../scss/main.scss */
.jumbotron {
  background-size: cover;
  min-height: 400px;
  background: transparent;
  background-position-y: 0px;
  text-align: center;
  color: #fff;
  padding: 14em 0 10em 0; }
  /* line 120, ../scss/main.scss */
  .jumbotron img {
    max-width: 100px;
    margin-bottom: 2em; }
  /* line 125, ../scss/main.scss */
  .jumbotron h1 {
    color: #fff;
    font-size: 3.5em;
    font-weight: 900;
    padding: .5em 1em;
    max-width: 1200px;
    margin: 0 auto;
    text-shadow: 1px 1px #A7A7A7; }
  /* line 135, ../scss/main.scss */
  .jumbotron .hr-tick-center {
    width: 50px;
    border: 1px solid #0074AF;
    margin: -10px auto 15px auto; }
  /* line 141, ../scss/main.scss */
  .jumbotron p {
    margin: 0 0 40px 0;
    font-size: 24px;
    font-weight: 600;
    text-shadow: 1px 1px #A7A7A7; }
  /* line 147, ../scss/main.scss */
  .jumbotron .btn {
    background-color: #2E2E2E;
    color: #fff;
    border: none;
    margin-bottom: 10px; }
    /* line 152, ../scss/main.scss */
    .jumbotron .btn svg {
      margin-right: 7px; }

/* line 158, ../scss/main.scss */
.jumbotron-sub {
  background-color: #7CCCBD;
  background-size: cover;
  background-attachment: fixed;
  background-position-y: -280px;
  text-align: center;
  color: #fff;
  padding: 12em 0 1em 0; }
  /* line 167, ../scss/main.scss */
  .jumbotron-sub img {
    max-width: 100px;
    margin-bottom: 2em; }
  /* line 172, ../scss/main.scss */
  .jumbotron-sub h1 {
    color: #fff;
    font-size: 2.5em;
    font-weight: 900;
    padding: .5em 1em;
    max-width: 1200px;
    margin: 0 auto;
    text-shadow: 1px 1px #A7A7A7; }
  /* line 182, ../scss/main.scss */
  .jumbotron-sub .hr-tick-center {
    width: 50px;
    border: 1px solid #0074AF;
    margin: -10px auto 15px auto; }
  /* line 187, ../scss/main.scss */
  .jumbotron-sub p {
    margin: 0 0 40px 0;
    font-size: 24px;
    font-weight: 600;
    text-shadow: 1px 1px #A7A7A7; }
	
.limargin li {
	margin:2%;
}
	
	.jumbotron-sub-index {
  background-color: #7CCCBD;
  background-size: cover;
  background-attachment: fixed;
  /*background-position-y: -280px;*/
  text-align: center;
  color: #fff;
  padding: 8em 0 4em 0; }
  /* line 167, ../scss/main.scss */
  .jumbotron-sub-index img {
    max-width: 100px;
    margin-bottom: 2em; }
  /* line 172, ../scss/main.scss */
  .jumbotron-sub-index h1 {
    color: #fff;
    font-size: 2.5em;
    font-weight: 900;
    padding: 2em 1em;
    max-width: 1200px;
    margin: 0 auto;
    text-shadow: 1px 1px #A7A7A7; }
  /* line 182, ../scss/main.scss */
  .jumbotron-sub-index .hr-tick-center {
    width: 50px;
    border: 1px solid #0074AF;
    margin: -10px auto 15px auto; }
  /* line 187, ../scss/main.scss */
  .jumbotron-sub-index p {
    margin: 0 0 40px 0;
    font-size: 24px;
    font-weight: 600;
    text-shadow: 1px 1px #A7A7A7; }
	
	
	
	
	.header1 {
		/* background-color: #00698c;*/
		color:black;
	background-size: cover;}
	
	.header1 h2, h3, h4 {
		margin-top:1em;
		color: black;
		text-decoration: bold;
	}

/* line 196, ../scss/main.scss */
.padding-0 {
  padding-right: 0;
  padding-left: 0; }

/* line 202, ../scss/main.scss */
.info-container {
  text-align: left;
  padding: 4em 0;
  margin: 1em 1em; }
  /* line 207, ../scss/main.scss */
  .info-container .box-wrap .info-box {
    transition: .3s;
    background-color: #fff;
    border: 1px solid #E1E1E1;
    padding: 3em;
    margin-bottom: 20px;
    color: #2E2E2E;
    min-height: 450px; }
    /* line 227, ../scss/main.scss */
    .info-container .box-wrap .info-box img {
      width: 50%;
      max-width: 150px;
      margin-bottom: 1em; }
	  
	  

/* line 241, ../scss/main.scss */
.cta, .cta-2 {
  text-align: center;
  background-color: #fff;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  color: #2E2E2E;
  margin: 0 auto; }
  /* line 247, ../scss/main.scss */
  .cta h4, .cta-2 h4 {
    margin-bottom: 1em; }
  /* line 253, ../scss/main.scss */
  .cta .text-contain-cta, .cta-2 .text-contain-cta {
    padding: 6em 0; }

/* line 263, ../scss/main.scss */
.sub-info-section {
  text-align: center;
  padding: 3em 0; }
  /* line 266, ../scss/main.scss */
  .sub-info-section ul, li {
	  text-align:left;
  }
	  
  .sub-info-section h2 {
    margin-bottom: 25px;
    font-weight: 600;
    max-width: 900px;
    font-size: ;
    text-align: center;
    margin: 0 auto; }
  /* line 275, ../scss/main.scss */
  
  .headingbottom {
	  color:#df6420; text-align:center;
  }
  .headingtop {
	  text-align:center;
  }
  
  .sub-info-section h3 {
    text-align: left;
    font-size: ;
    margin-bottom: 1em; }
  /* line 281, ../scss/main.scss */
  .sub-info-section .sub-info-box {
    background-color: #f8f8f8;
    padding: 2em;
    border: 1px solid #ccc; }
    /* line 285, ../scss/main.scss */
    .sub-info-section .sub-info-box ul {
      text-align: left; }
      /* line 287, ../scss/main.scss */
      .sub-info-section .sub-info-box ul li {
        margin: 1em 0; }
  /* line 293, ../scss/main.scss */
  .sub-info-section img {
    margin-bottom: 50px;
    margin-top: -160px;
    width: 280px; }
  /* line 298, ../scss/main.scss */
  .sub-info-section .hr-tick {
    width: 50px;
    border: 1px solid #0074AF;
    margin: 1em auto 2em auto; }

/* line 314, ../scss/main.scss */
.footer {
  background-color: #df6420;
  text-align: center;
  color: #fff;
  padding: 3em; }
  /* line 320, ../scss/main.scss */
  .footer svg {
    font-size: 2em;
    margin: 0 7px;
    transition: .3s; }
    /* line 324, ../scss/main.scss */
    .footer svg:hover {
      transform: scale(1.2);
      cursor: pointer; }
